:root {
    --fontCoustard: "Coustard", serif;
    --mainColorGreen: #55692d;
    --mainColorOrange: rgb(255, 151, 55);
    --mainColorBlack: rgb(39, 39, 39);
    --mainColorWhite: rgb(248, 234, 212);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--mainColorWhite);
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

/* Navigation section */
.nav-bar {
    display: flex;
    flex-direction: row;
    position: fixed;
    /* Make the navbar fixed */
    top: 0;
    /* Ensure it stays at the top */
    left: 0;
    /* Align it to the left side of the page */
    right: 0;
    background-color: var(--mainColorGreen);
    width: 100vw;
    height: 70px;
    border-bottom-style: solid;
    border-color: rgb(58, 83, 11);
    box-shadow: 1px 10px 20px rgb(84, 90, 72);
    z-index: 10;


}

.Brand {
    color: var(--mainColorWhite);
    margin-left: 90px;
    margin-bottom: auto;
    margin-top: auto;
    font-style: italic;
    font-family: "Lavishly Yours", cursive;
    padding: 0;
}

.nav-links {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    padding: 0;
}

.nav-link {
    color: var(--mainColorWhite);
    text-decoration: none;
    margin-left: 70px;
    margin-bottom: auto;
    margin-top: auto;
    font-family: var(--fontCoustard);
    font-size: 0.8rem;

}

.nav-link:hover {
    color: var(--mainColorOrange);
}

/* this is styling for the CV button */

#CV {
    width: 100px;
    height: 70px;
    margin-right: 15px;
    font-size: 1.5rem;
    font-family: var(--fontCoustard);
    border-color: var(--mainColorOrange);
    background-color: var(--mainColorOrange);
    color: var(--mainColorWhite);
}

#CV:hover {
    background-color: rgb(255, 136, 0);
    color: var(--mainColorBlack);
    transition: background-color 0.3s, color, 0.3s;
}

/* About me section  */

.aboutMe {
    background-color: var(--mainColorGreen);
    position: relative;
    height: 700px;
    width: 100vw;
    display: flex;

}

.name {
    color: var(--mainColorWhite);
    font-family: var(--fontCoustard);
    font-size: 3rem;
    margin-top: 100px;
    font-weight: 500px;
    z-index: 10;
    text-decoration: underline;
}

.surname {
    color: var(--mainColorWhite);
    font-family: var(--fontCoustard);
    font-size: 3rem;
    font-weight: 500px;
    margin-top: -30px;
    z-index: 10;
    text-decoration: underline;
}

/* quoted words  */
.Quote {
    position: absolute;
    background-color: rgb(255, 44, 44);
    box-shadow: 10px 10px 20px rgb(44, 63, 8);
    height: 100px;
    width: 300px;
    z-index: 9;
    right: 120px;
    top: 500px;
    padding: 10px;
}

.quotedWords {
    margin: 10px;
    color: var(--mainColorWhite);
    font-family: cursive;
    font-size: 1rem;
}


/* 
This handles the little paragraphs on the page  */
.aboutMeRight {
    margin-left: 120px;
}

.nameTitle {
    font-family: var(--fontCoustard);
    color: var(--mainColorOrange);
    font-size: 1.5em;
}

.nameParagraph {
    font-family: var(--fontCoustard);
    font-size: 1.0em;
    color: var(--mainColorWhite);
    width: 400px;
}

.jobTitles {
    font-size: 1.5em;
    color: var(--mainColorOrange);
}

.pictureDiv {
    max-width: 100%;
    margin: auto;
    margin-right: 200px;
}


.profilePic {
    max-width: 100%;
    width: 350px;
    height: 400px;
    max-width: 100%;
    border-style: solid;
    border-color: var(--mainColorOrange);
    border-width: 5px;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    box-shadow: 10px 10px 20px rgb(44, 63, 8);
}

/* skills section  */

.skill-Intro {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.skill-title {
    font-family: var(--fontCoustard);
    color: var(--mainColorOrange);
    font-size: 4rem;
    text-decoration: underline;
    margin-left: auto;
    margin-right: auto;
}

.skill-paragraph {
    font-family: var(--fontCoustard);
    color: var(--mainColorBlack);
    font-size: 1.2rem;
    margin-top: -30px;
    margin-left: 50px;
    margin-bottom: 100px;
}

/* Divs for the different skills */
.skill-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, 500px);
    margin-left: 60px;
    margin-right: 40px;
    margin-bottom: 100px;
    gap: 5px;
}

.skill {
    width: 350px;
    margin-bottom: 50px;
    border-radius: 20px;
    padding: 40px;
    padding-top: 50px;
    background-color: var(--mainColorGreen);
    box-shadow: 5px 10px 10px rgb(44, 63, 8);
}

.skill h3 {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: var(--fontCoustard);
    color: var(--mainColorOrange);
}

.skill p {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--mainColorWhite);
}


/* projects section */

#projects {
    background-color: var(--mainColorGreen);
    height: 1000px;
    width: 100vw;
}

.project-Info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-Title {
    font-family: var(--fontCoustard);
    color: var(--mainColorOrange);
    font-size: 4rem;
    margin-top: 80px;
    margin-bottom: 0px;
}

.project-Desc {
    font-size: 2rem;
    color: var(--mainColorWhite);
}

.gitHubRepo {
    color: var(--mainColorWhite);
}

/* Carousel */

.carousel {
    height: 600px;
    width: 600px;
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    border-style: solid;
    border-width: 10px;
    border-color: var(--mainColorOrange);
}

/* Makes other imgs not show */
.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide[data-active] {
    opacity: 1
}

.slide img {
    display: block;
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}

/* .slide img:hover{
    transform: scale(1.1);
    opacity: .5;
} */

.carousel-button {
    position: absolute;
    background: none;
    background-color: rgb(0, 0, 1, .1);
    font-size: 4em;
    top: 50%;
    z-index: 9;
    color: var(--mainColorOrange);
    cursor: pointer;
    border: none;
    transform: translateY(-50%);
}

.carousel ul {
    list-style: none;
    margin-top: 0;
    padding: 0;
}

.carousel-button:hover,
.carousel-button:focus {
    color: var(--mainColorWhite);
    background-color: rgb(0, 0, 1, .1);
}

.next {
    left: 1rem;
}

.prev {
    right: 1rem;
}

/* footer section  */

.footer {
    background: var(--mainColorOrange);
    color: var(--mainColorGreen);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

footer {
    margin-top: auto;
    margin-bottom: -100%;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer_link {
    font-family: var(--fontCoustard);
    font-weight: 700;
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;

}

.footer__link:hover {
    text-decoration: underline;
}


.social-list {
    color: #55692d;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2.5em;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

.cvSmall {
    display: none;
}

.hamburger {
    display: none;
}

.hamburger-modal {
    display: none;
}

.nav_link {
    display: none;
}


@media screen and (max-width: 1000px) {
    body {
        max-width: 100vw;
    }


    .nav-bar {
        width: 100vw;
        height: 50px;
    }

    .Brand {
        display: none;
    }

    .nav-link {
        font-size: 0.7rem;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: auto;
        margin-top: auto;

    }

    #CV {
        display: none;
        width: 0;
        padding: 0;
    }

    .aboutMe {
        background-color: var(--mainColorGreen);
        position: relative;
        height: 600px;
        width: 100vw;
        display: flex;
        overflow: hidden;

    }

    .name {
        font-size: 2.5rem;
        margin-top: 100px;
        padding-left: 20px;
    }

    .surname {
        font-size: 2.5rem;
        padding-left: 20px;
    }

    .aboutMeRight {
        margin: 0;

    }

    .nameTitle {
        font-family: var(--fontCoustard);
        color: var(--mainColorOrange);
        font-size: 1.2em;
        padding-left: 20px;
    }

    .nameParagraph {
        font-family: var(--fontCoustard);
        font-size: 1.2em;
        color: var(--mainColorWhite);
        width: 100vw;
        padding-left: 20px;
        padding-right: 30px;

    }

    .jobTitles {
        font-size: 1.2em;
        color: var(--mainColorOrange);
        width: 100vw;
        padding-left: 20px;
        padding-right: 10px;
    }




    .Quote {
        display: none;
    }

    .pictureDiv {
        display: none;
    }

    .profilePic {
        display: none;
    }


    .skill-Intro {
        width: 300px;
        margin-top: 50px;

    }

    .skill-details {
        gap: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skill {
        width: 90vw;
        margin-left: 0;
    }

    .skill-paragraph {
        font-family: var(--fontCoustard);
        color: var(--mainColorBlack);
        font-size: 1.2rem;
        margin-top: -30px;
        margin-left: 30px;
        margin-bottom: 80px;
    }

    .skill-title {
        font-size: 3rem;
        margin-left: auto;
        margin-right: auto;
    }

    .skill h3 {
        font-size: 2rem;
        font-weight: 900;
    }

    .skill p {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .project-Title {
        font-size: 3rem;
        margin-top: 80px;
        margin-bottom: 0px;
    }

    .project-Desc {
        font-size: 1rem;
        color: var(--mainColorWhite);
    }

    .carousel {
        height: 600px;
        width: 100vw;
    }

    svg {
        width: 50px;
    }

    .social-list {
        margin: 0;
    }

    .cvSmall {
        display: block;
        width: 120px;
        height: 50px;
        font-family: var(--fontCoustard);
        border-color: var(--mainColorOrange);
        background-color: var(--mainColorOrange);
        color: var(--mainColorWhite);
        position: relative;
        top: 200px;
        right: 200px;


    }
}

@media screen and (max-width: 500px) {

    .cvSmall {
        display: none;
    }

    .nav-bar {
        justify-content: end;
    }


    .nav-links {
        display: none;
    }


    .hamburger {
        display: block;
        margin-top: 5px;
        fill: var(--mainColorOrange);
    }

    .aboutMe {
        height: 650px;
    }

    .name {
        font-size: 2rem;
        margin-bottom: 30px;
    }

    .surname {
        font-size: 2rem;
    }

    .nameTitle {
        font-size: 1.2rem;
    }

    .nameParagraph {
        font-size: 1rem;
    }

    .carousel-button {
        width: 50px;
        height: 50px;
        font-size: 2rem;
    }


    .skill h3 {
        font-size: 1rem;
        font-weight: 900;
    }

    .skill p {
        font-size: 0.7rem;
        font-weight: 300;
    }


    .hamburger-modal {
        display: none;
        height: 400px;
        width: 300px;
        background-color: var(--mainColorOrange);
        overflow: hidden;

    }

    .hamLinks {
        display: block;
        margin-top: 50px;
    }

    .nav_link {
        display: block;
        padding-left: 20px;
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--mainColorWhite);
    }

    .nav_link:hover {
        color: #55692d;
        text-decoration: underline;
    }





}