:root {
    --fontCoustard: "Coustard", serif;
    --mainColorGreen: #55692d;
    --mainColorOrange: rgb(255, 151, 55);
    --mainColorBlack: rgb(39, 39, 39);
    --mainColorWhite: rgb(248, 234, 212);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--mainColorWhite);
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

/* Navigation section */
.nav-bar {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: var(--mainColorGreen);
    width: 100vw;
    height: 70px;
    border-bottom-style: solid;
    border-color: rgb(58, 83, 11);
    box-shadow: 1px 10px 20px rgb(84, 90, 72);
    z-index: 10;

}

.Brand {
    color: var(--mainColorWhite);
    margin-left: 90px;
    margin-bottom: auto;
    margin-top: auto;
    font-style: italic;
    font-family: "Lavishly Yours", cursive;
    padding: 0;
}

.nav-links {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    padding: 0;
}

.nav-link {
    color: var(--mainColorWhite);
    text-decoration: none;
    margin-left: 70px;
    margin-bottom: auto;
    margin-top: auto;
    font-family: var(--fontCoustard);
    font-size: 0.8rem;

}

.nav-link:hover {
    color: var(--mainColorOrange);
}

/* this is styling for the CV button */

#CV {
    width: 100px;
    margin-right: 15px;
    font-family: var(--fontCoustard);
    border-color: var(--mainColorOrange);
    background-color: var(--mainColorOrange);
    color: var(--mainColorWhite);
}

#CV:hover {
    background-color: rgb(255, 136, 0);
    color: var(--mainColorBlack);
    transition: background-color 0.3s, color, 0.3s;
}

/* About me section  */

.aboutMe {
    background-color: var(--mainColorGreen);
    position: relative;
    height: 700px;
    width: 100vw;
    display: flex;

}

.name {
    color: var(--mainColorWhite);
    font-family: var(--fontCoustard);
    font-size: 4em;
    margin-bottom: -40px;
    margin-top: 100px;
    font-weight: 500px;
    z-index: 10;
    width: 800px;
    text-decoration: underline;
}

.pictureDiv {
    max-width: 100%;
    margin: auto;
    margin-right: 350px;
}


.profilePic {
    max-width: 100%;
    width: 400px;
    height: 500px;
    max-width: 100%;
    border-style: solid;
    border-color: var(--mainColorOrange);
    border-width: 5px;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    box-shadow: 10px 10px 20px rgb(44, 63, 8);
}

/* Quote that I follow */

.Quote {
    position: absolute;
    background-color: rgb(255, 44, 44);
    box-shadow: 10px 10px 20px rgb(44, 63, 8);
    height: 100px;
    width: 400px;
    z-index: 10;
    right: 150px;
    top: 550px;
}

.quotedWords {
    margin: 10px;
    color: var(--mainColorWhite);
    font-family: cursive;
    font-size: 1.2rem;
}

/* 
This handles the little paragraphs on the page  */
.aboutMeRight {
    margin-left: 250px;
}

.nameTitle {
    font-family: var(--fontCoustard);
    color: var(--mainColorOrange);
    font-size: 2em;

}

.nameParagraph {
    font-family: var(--fontCoustard);
    font-size: 1.2em;
    color: var(--mainColorWhite);
    width: 600px;
}

.jobTitles {
    font-size: 2em;
    color: var(--mainColorOrange);
}



/* skills section  */

.skill-Intro {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.skill-title {
    font-family: var(--fontCoustard);
    color: var(--mainColorOrange);
    font-size: 4rem;
    text-decoration: underline;
    margin-left: auto;
    margin-right: auto;
}


